<p id="notice"><%= notice %></p>

<h1>Clientes</h1>
<%= form_tag(pega_cliente_path, method: :get, :remote => true) do %>
          <div class="form-inline"> 
          <%= label_tag :nome %>
          <%= text_field_tag :nome_c %>
          <%= submit_tag "Encontrar"%>
          </div>
          <% end %>
<table id="cliente">
  <thead>
    <tr>
      <th class="span3">Nome</th>
      <th class="span3">Telefone</th>
      <th class="span3">Celular</th>
      <th class="span3">Email</th>
      <th class="span3">Observacoes</th>
      <th class="span3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render 'tabela_cliente', clientes: @clientes%>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
