<div class="span16">
<p id="notice"><%= notice %></p>
<div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
          Fornecedor
        </h5>
    </div>

    <div class="box-content">
    <div class="row">
    <div class="span15">

<table>
  <thead>
    <tr>
      <th class="span3"5">Nome fornecedor</th>
      <th class="span3">Ramo</th>
      <th class="span3">Vendedor</th>
      <th class="span3">Telefone</th>
      <th class="span3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fornecedors.each do |fornecedor| %>
      <tr>
        <td class="span3"><%= fornecedor.nome_fornecedor %></td>
        <td class="span3"><%= fornecedor.ramo %></td>
        <td class="span3"><%= fornecedor.vendedor %></td>
        <td class="span3"><%= fornecedor.telefone %></td>
        <td class="span3"><%= link_to 'Exibir', fornecedor, class:"btn btn-small btn-default" %>
        <%= link_to 'Editar', edit_fornecedor_path(fornecedor), class:"btn btn-small btn-primary" %>
        <%= link_to 'Deletar', fornecedor, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-small btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

</div>
</div>
<br>

<%= link_to 'Novo Fornecedor', new_fornecedor_path, class:"btn btn-primary"%>
