<p id="notice"><%= notice %></p>

<h1>Fornecedors</h1>

<table>
  <thead>
    <tr>
      <th class="span3"5">Nome fornecedor</th>
      <th class="span3">Ramo</th>
      <th class="span3">Vendedor</th>
      <th class="span3">Telefone</th>
      <th class="span3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fornecedors.each do |fornecedor| %>
      <tr>
        <td class="span3"><%= fornecedor.nome_fornecedor %></td>
        <td class="span3"><%= fornecedor.ramo %></td>
        <td class="span3"><%= fornecedor.vendedor %></td>
        <td class="span3"><%= fornecedor.telefone %></td>
        <td class="span3"><%= link_to 'Exibir', fornecedor %>
        <%= link_to 'Editar', edit_fornecedor_path(fornecedor) %>
        <%= link_to 'Deletar', fornecedor, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fornecedor', new_fornecedor_path, class:"btn btn-primary"%>
