<%= form_with(model: peca, local: true) do |form| %>
  <% if peca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(peca.errors.count, "error") %> prohibited this peca from being saved:</h2>

      <ul>
      <% peca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :peca_nome %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :peca_tipo %>
  </div>

  <div class="field">
    <%= form.label :fabricante %>
    <%= form.text_field :fabricante, id: :peca_fabricante %>
  </div>

  <div class="field">
    <%= form.label :preco %>
    <%= form.text_field :preco, id: :peca_preco %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
