<p id="notice"><%= notice %></p>

  <h1>Pecas</h1>
  <div class="span16">
    <div class="box pattern pattern-sandstone">
      <div class="box-header">
        <i class="icon-table"></i>
          <h5>
            Ocorrencia
          </h5>
        </div>
      <div class="box-content box-table">
  <table id="tabela_index" class="table table-hover table-bordered tablesorter">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Fabricante</th>
      <th>Preco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pecas.each do |peca| %>
      <tr>
        <td><%= peca.nome %></td>
        <td><%= peca.tipo %></td>
        <td><%= peca.fabricante %></td>
        <td><%= peca.preco %></td>
        <td><%= link_to 'Show', peca, class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_peca_path(peca), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', peca, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>


<br>

<%= link_to 'New Peca', new_peca_path, class:"btn btn-primary" %>
