<p id="notice"><%= notice %></p>
<%= form_with(model: orcamento, local: true) do |form| %>

 
<table>
  <thead>
    <tr>
      <th class="span3">Nome</th>
      <th class="span3">Telefone</th>
      <th class="span3">Celular</th>
      <th class="span3">Email</th>
      <th class="span3">Observacoes</th>
      <th class="span3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_orc.each do |cliente| %>
      <tr>
        <td class="span3"><%= cliente.nome %></td>
        <td class="span3"><%= cliente.telefone %></td>
        <td class="span3"><%= cliente.celular %></td>
        <td class="span3"><%= cliente.email %></td>
        <td class="span3"><%= cliente.observacoes %>
       <td class="span3"><%= link_to "selecione", pega_cliente_id_path(cliente),:remote => true%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</br>

<table id="veiculo">
  <thead>
    <tr>
      <th class="span3">Placa</th>
      <th class="span3">Marca</th>
      <th class="span3">Modelo</th>
      <th class="span3">Ano</th>
      <th class="span3">Cor</th>
      <th class="span3"></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
  </table>

  <div class="field">
    <%= form.label :Quilometragem %>
    <%= form.number_field :quilometragem, id: :orcamento_quilometragem %>
  </div>


  <div class="field">
    <%= form.label :Descricao %>
    <%= form.text_field :descricao, id: :orcamento_descricao %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= select(:orcamento, :status, [ 'Cotaçao','Pendende de aprovaçao','Aprovado', 'Encerrado']) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
