<div id="myModal2" class="modal hide fade modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">oooo</h3>
  </div>
  <div class="modal-body">

<h1><%=pecas.quantidade%></h1>

 <%= label_tag :Quantidade %>
    <%= text_field_tag :quantidade%>

    <%= label_tag :Preco %>
    <%= text_field_tag :preco_o, pecas.preco_o%>

 </div>
  <div class="modal-footer">
  </div>
</div>