<p id="notice"><%= notice %></p>

<!-- Infos de orcamento cliente e veiculo -->

<div class="row">
<div class="span14">
<div class="form-inline">
Nome:
<span class="input-large uneditable-input"><%=@orcamento.cliente.nome%></span>
Telefone:
<span class="input-large uneditable-input"><%=@orcamento.cliente.telefone%></span>
Celular:
<span class="input-large uneditable-input"><%=@orcamento.cliente.celular%></span>
</div>

</br>
<div class="form-inline">
Placa:
<span class="input-large uneditable-input"> <%=@orcamento.veiculo.placa%> </span>
Marca:
<span class="input-large uneditable-input"><%=@orcamento.veiculo.marca%></span>
Modelo:
<span class="input-large uneditable-input"><%=@orcamento.veiculo.modelo%></span>
</div>

</br>
<div class="form-inline">
Status
<span class="input-large uneditable-input"><%= @orcamento.status %></span>
Quilometragem:
<span class="input-large uneditable-input"><%= @orcamento.quilometragem %></span>
</p>
</div>
</div>
</div>

  
<%= render 'orcamentos/modal/modal_pecaOrc', pecas_orc: @pecas_orc %>
<%= render 'orcamentos/modal/modal_servicoOrc', pecas_orc: @pecas_orc %>

<div id="edit">

</div>

<!--tabela de PECA ORC-->

<div class="row">
  <div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Relaçao de Peças
        </h5>
    </div>

    <div class="box-content">
    <div class="row">
      <div class="span14">
      <table class="table table-hover">
          <thead>
            <tr>
              <th class="span3">Nome</th>
              <th class="span3">quantidade</th>
              <th class="span3">Fabricante</th>
              <th class="span2">Preco</th>
            </tr>
          </thead>

          <tbody>
              <% @orcamento.peca_orc.each do |peca_orc| %>

                <tr>
                <td class="span3"><%= peca_orc.peca.nome %></td>
                <td class="span3"><%= peca_orc.peca.fabricante %></td>
                <td class="span3"><%= peca_orc.quantidade %></td>
                <td class="span2"><%= peca_orc.preco_o %></td>
                <td>
                <%= link_to 'Editar', edit_peca_orc_path(peca_orc), :remote => true %>
                </td>
  <td><%= link_to 'Deletar', peca_orc, method: :delete, data: { confirm: 'Tem certeza?' } %></td>

              </tr>

              <%end%>
          </tbody>
        </table>
        </div>
        </div>
    </div>
    <div class="box-footer">
      <button type="button" id="bt" class="btn btn-info btn-lg" data-backdrop="static" data-toggle="modal" data-target="#modalPeca">Relacionar Peças</button>
    </div>
  </div>
</div>


<div class="row">
  <div class="box pattern pattern-sandstone">

    <div class="box-header">
       <i class="icon-table"></i>
        <h5>
        Relaçao de Serviço
        </h5>
    </div>

    <div class="box-content">
    <div class="row">
      <div class="span14">
      <table class="table table-hover">
          <thead>
            <tr>
              <th class="span3">Nome</th>
              <th class="span3">Preco</th>
              <th class="span4"></th>
              <th class="span4"></th>
            </tr>
          </thead>

          <tbody>
              <% @orcamento.servico_orc.each do |servico_orc| %>

                <tr>
                <td class="span3"><%= servico_orc.servico.nome %></td>
                <td class="span3"><%= servico_orc.preco_s %></td>
                <td class="span4"></td>
                <td class="span4"><%= link_to 'Deletar', delete_serv_path(servico_orc), method: :delete, data: { confirm: 'Tem certeza?' } %></td>

              </tr>

              <%end%>
          </tbody>
        </table>
        </div>
        </div>
    </div>
    <div class="box-footer">
      <button type="button" id="bt" class="btn btn-info btn-lg" data-backdrop="static" data-toggle="modal" data-target="#modalServico">Relacionar Serviços</button>
    </div>
  </div>
</div>


<div class="row valor_total">
<div class="form-inline">
  <strong>Valor total:</strong>
 <span class="input-medium uneditable-input height-label"><h1><%= @orcamento.valor_total %></h1></span>
</div>
</div>

</br>

<p>
  <strong>Descricao:</strong>
  <%= @orcamento.descricao %>
</p>

<%= link_to 'Editar', edit_orcamento_path(@orcamento) %> |
<%= link_to 'Voltar', orcamentos_path %>
