<p id="notice"><%= notice %></p>

<h1>Veiculos</h1>

<table>
  <thead>
    <tr>
      <th class="span3">Placa</th>
      <th class="span3">Marca</th>
      <th class="span3">Modelo</th>
      <th class="span3">Ano</th>
      <th class="span3">Cor</th>
      <th class="span3"></th>
    </tr>
  </thead>

  <tbody>
    <% @veiculos.each do |veiculo| %>
      <tr>
        <td class="span3"><%= veiculo.placa %></td>
        <td class="span3"><%= veiculo.marca %></td>
        <td class="span3"><%= veiculo.modelo %></td>
        <td class="span3"><%= veiculo.ano %></td>
        <td class="span3"><%= veiculo.cor %></td>
        <td class="span3"><%= link_to 'Exibir', veiculo %>
        <%= link_to 'Editar', edit_veiculo_path(veiculo) %>
        <%= link_to 'Deletar', veiculo, method: :delete, data: { confirm: 'Tem certeza' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Veiculo', new_veiculo_path, class:"btn btn-primary" %>
