<!DOCTYPE html>
<html>
  <head>
    <title>Unity System</title>
     <meta charset="UTF-8"/>

    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 
    <style type="text/css">
      * {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNext-Light', 'Avenir Next Light', 'Avenir Next', sans-serif;
        }

     body {
      font-size: 100%;
      padding: 50px;
      background: #fff;
    }

    .header {
    margin-left: 0px;
    }

    .header-right{
     position: absolute;
     right: 0px;
     top: 0px;
     padding: 50px;
    }

    .header-right2{
     position: absolute;
     right: 0px;
     bottom: 0px;
     padding-top: 50px;
     width: 200px;
    }

    .block{
      height: 60px;
      width: 600px;
    }

    .inner {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
          }
      .inner2{
        margin-left: 40px;
        margin-right: 40px;
      }

     table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    margin-right:auto; 
    margin-left:auto;
    padding: 2px;
        }
      thead{
        background: #ccc;
      }

    </style>
  </head>

  <body>

    <div class="header">
     <h2>Oficina Continental</h2>
     <h4>Rua: Continental 1054</h4>
    </div>
     <div class="header-right">
    <h3>4177-1663</h3>
    <h3>4238-2020</h3>
</div> 

     <hr>

<div class="block">
<div class="inner">Nome: <%=@orcamento.cliente.nome%></div>
<div class="inner inner2"> Telefone: <%=@orcamento.cliente.telefone%></div>
<div class="inner"> Celular: <%=@orcamento.cliente.celular%></div>
</br>

<div class="inner"> Placa: <%=@orcamento.veiculo.placa%></div>
<div class="inner inner2"> Marca: <%=@orcamento.veiculo.marca%></div>
<div class="inner"> Modelo: <%=@orcamento.veiculo.modelo%></div>
</div>

<hr>


    <table style="width: 90%">
      <caption> Relaçao de Pecas</caption>

         <thead>
            <tr>
              <th>Nome</th>
              <th>quantidade</th>
              <th>Preco</th>
            </tr>
          </thead>

          <tbody>
         <% @orcamento.peca_orc.each do |peca_orc| %>

                <tr>
                <td class="span3"><%= peca_orc.peca.nome %></td>
                <td class="span3"><%= peca_orc.quantidade %></td>
                <td class="span2"><%= peca_orc.preco_o %></td>
                </tr>
          <%end%>
          </tbody>
        </table>

</br>
 <table style="width: 90%">
      <caption> Relaçao de Serviços</caption>

         <thead>
            <tr>
              <th>Nome</th>
              <th>Preco</th>
            </tr>
          </thead>

          <tbody>
        <% @orcamento.servico_orc.each do |servico_orc| %>

                <tr>
                <td class="span3"><%= servico_orc.servico.nome %></td>
                <td class="span2"><%= servico_orc.servico.preco %></td>
              </tr>
        <%end%>
          </tbody>
        </table>

        </br>
        <hr>
        </br>

    <div class="header">
     <h4>Observação:</h4>
    </div>

  <div class="header-right2">
    <h4>Valor Peças:</h4>
    <h4>Valor Serviços:</h4>
    <h3>Valor Total:</h3>
  </div> 

  </body>

</html>
