<!DOCTYPE html>
<html>
  <head>
    <title>UnityApresentacao</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <style>
        #body-content { padding-top: 0px;}
    </style>
  </head>

     <body>
        <div id="body-container">
            <div id="body-content">
		            <div class="body-nav body-nav-vertical body-nav-fixed">
		                <div class="container">
		                          <ul>
		                        <li>
		          				<%= link_to "Peças" brand_link: pecas_path do%>
                                <i class="fa fa-book icon-large"></i> Financeiro 
                                <%end%>
		                        </li>
		                        <li>     
		                        
                                <i class="fa fa-book icon-large"></i> Financeiro 
                                
		                        </li>
		 
		                        </ul>
		                </div>
		            </div>

		                   <section class="nav nav-page">
			        <div class="container">
			            <div class="row">
			                <div class="span7">
			                    <header class="page-header">
			                        <h3>Central de Controle<br/>
			                            <small>Status da Oficina</small>
			                        </h3>
			                    </header>
			                </div>
			                <div class="page-nav-options">
			                    <div class="span9">
			            
			                 
			                    </div>
			                </div>
			            </div>
			        </div>
			    </section>
		                
	

			    <section class="page container">
				    <div class="row">
 						<%= yield %>
				    </div>
			    </section>
                   
	    	</div>    
	    </div>
  </body>
</html>
