<!DOCTYPE html>
<html>
  <head>
    <title>Unity System</title>
        <meta charset="UTF-8"/>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

     <style>
        #body-content { padding-top: 0px;}
    </style>
  </head>

     <body>
        <div id="body-container">
            <div id="body-content">
		            <div class="body-nav body-nav-vertical body-nav-fixed">
		                <div class="container">
		                          <ul>
		                                <li>
		          					<%=link_to pecas_path do %>
		          					<i class="icon-dashboard icon-large"></i>
		          					Dashboard
		          					<%end%>
		                                </li>
		                                <li>     
		                            <%=link_to clientes_path do %>
		          					<i class="icon-user icon-large""></i>
		          					Cliente
		          					<%end%>
		                                </li>
		                                    <li>     
		                            <%=link_to veiculos_path do %>
		          					<i class="fa fa-car icon-large"></i>
		          					Veiculo
		          					<%end%>
		                                </li>
		                                    <li>     
		                            <%=link_to orcamentos_path do %>
		          					<i class="icon-list-alt icon-large"></i>
		          					Forncedor
		          					<%end%>
		                                </li>
		                                    <li>     
		                            <%=link_to pecas_path do %>
		          					<i class="fa fa-cubes icon-large"></i>
		          					Peças
		          					<%end%>
		                                </li>
		                                    <li>     
		                            <%=link_to pecas_path do %>
		          					<i class="fa fa-wrench icon-large"></i>
		          					Serviços
		          					<%end%>
		                                </li>
		                                      <li>     
		                            <%=link_to fornecedors_path do %>
		          					<i class="fa fa-book icon-large"></i>
		          					Financeiro
		          					<%end%>
		                                </li>
		                        </ul>
		                </div>
		            </div>
		                   <section class="nav nav-page">
			        <div class="container">
			            <div class="row">
			                <div class="span7">
			                    <header class="page-header">
			                        <h3>Central de Controle<br/>
			                            <small>Status da Oficina</small>
			                        </h3>
			                    </header>
			                </div>
			                <div class="page-nav-options">
			                    <div class="span9">
			            	 	
			                 
			                    </div>
			                </div>
			            </div>
			        </div>
			    </section>
		                
	

			    <section class="page container">
				    <div class="row">
 						<%= yield %>
				    </div>
			    </section>
                   
	    	</div>    
	    </div>
  </body>
</html>
